<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>예약</h1>
        <table class="type05">
            <tr>
                <th scope="row">항목명</th>
                <td>내용이 들어갑니다.</td>
            </tr>
            <tr>
                <th scope="row">항목명</th>
                <td>내용이 들어갑니다.</td>
            </tr>
            <tr>
                <th scope="row">항목명</th>
                <td>내용이 들어갑니다.</td>
            </tr>
        </table>
    </th:block>
</th:block>